.btn-primary {
    background-color: dodgerblue;
}

.btn-info {
    background-color: seagreen;
}

.btn-secondary {
    background-color: slategray;
}

.form-control {
    background-color: aliceblue;
}
