hr.style1 {
	border-top: 2px solid #8c8b8b;
}
hr.style2 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

.btn-primary {
    background-color: dodgerblue;
}

.btn-info {
    background-color: seagreen;
}

.btn-secondary {
    background-color: slategray;
}

.form-control {
    background-color: aliceblue;
}

.list-group-item-secondary {
	background-color: aliceblue;
}